<h1>Movies</h1>

<table>

<% @movies.each do |movie| %>
  <tr>
    <td><%=h movie.title %></td>
    <% if admin?  %>
      <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
      <td><%= link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<% if admin?  %>
  <%= link_to 'New movie', new_movie_path %>
<% end %>
