%ul

  - @movies.each do |movie|
    %li
      =h movie.title
      - if admin?
        = link_to 'Edit', edit_movie_path(movie)
        = link_to 'Destroy', movie, :confirm => 'Are you sure?', :method => :delete

- if admin?
  = link_to 'New movie', new_movie_path
